<div class="admin-container" fxLayout="column" fxLayoutAlign="space-between stretch">
  <div class="member-header"
    fxLayout="row" fxLayoutAlign="space-between center">
    <p fxFlex >학습 목록: 총 <strong class="list-count">{{dataSource?.length}}</strong></p>
  </div>

  <div class="table-container" >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef [ngClass]="'noClass'">번호</th>
        <td mat-cell *matCellDef="let element; let i = index;" [ngClass]="'noClass'">{{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef [ngClass]="'noDate'">수신일</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'noDate'">{{element.date | date: 'yy:MM:dd hh:mm:ss' }} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef [ngClass]="'noType'">종류</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'noType'">{{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef [ngClass]="'noWord'">단어</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'noWord'">{{element.word}} </td>
      </ng-container>
      <ng-container matColumnDef="audio">
        <th mat-header-cell *matHeaderCellDef [ngClass]="'noAudio'">오디오</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'noAudio'">{{element.audio}} </td>
      </ng-container>
      <ng-container matColumnDef="spell">
        <th mat-header-cell *matHeaderCellDef [ngClass]="'noSpell'">단어파일</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'noSpell'">{{element.spell}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      (page)="onPage($event)"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
<!--
-->
